@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.roboto-font {
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  
.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 14px;

    align-items: center;
    font-family: 'Roboto';
}

.header {
    min-width: 100vw;
    display: flex;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
    /* min-width: 900px; */

    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 110% 0, 110% 40%, 0 100%);
    background-color: rgb(47, 146, 179);
    z-index: -1;
}

.header-image {
    margin: 40px 0;
    background-size: cover;
    background-position: center;
}

.header-image img {
    width: 400px;
}

.header-description {
    background-color: white;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    height: 350px;
    padding: 20px;

    box-shadow: 2px 2px 4px 1px rgba(91, 91, 91, 0.39);
}

.header-description > p:first-child {
    font-size: 2rem;
    font-family: "Playfair Display";

}


.header-name {
    font-family: "Playfair Display";
    position: absolute;
    bottom: 50px;
    left: 400px;
    color: white;
    font-size: 3rem;
}

.header .links {
    position: absolute;
    bottom: 20px;
    right: 30px;
    display: flex;
    gap: 15px;
}

.header .link {
    width: 30px;
    height: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.main-header {
    font-family: "Playfair Display";

    font-size: 2rem;
    margin: 10px 0;
}

.projects-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 30px; */
}

.project-card {
    margin-bottom: 60px;
    max-width: 270px;   
    min-height: 300px;
    box-shadow: 
    0px 2px 2px 1px rgba(191, 191, 191, 0.39),
    0px 4px 4px 1px rgba(192, 192, 192, 0.39);

    position: relative;
}

.project-image {
    /* width: 100%; */
}

.project-image img{
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    object-position: center;
}

.project-info {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.project-info > p:first-child{
    display: flex;
    font-family: "Playfair Display";
    justify-content: space-between;
    align-items: center;

    font-size: 1.4rem;
}

.project-card .link {
    height: 25px;
    width: 25px;
}

.project-card .links {
    align-items: center;
    display: flex;
    gap: 5px;
}

.footer{
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.footer-info {
    font-size: 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-header {
    font-size: 2rem;
    font-family: "Playfair Display";

}

.footer-text {

}

.footer-image {
    /* max-height: 200px; */
}

.footer-image img {
    width: 500px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.footer .links {
    bottom: 20px;
    right: 30px;
    display: flex;
    gap: 25px;
}

.footer .link {
    width: 30px;
    height: 30px;
}